<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    {% load staticfiles %}
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"/>   -->
</head>
<body>
<form method="POST" class="post-form" action="/update/{{ all_item.id }}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Details</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-4">
        <!-- <a href="{{ all_item.get_absolute_url }}">{{ all_item.description }}</a>
        <img src="{% static 'delete_logo.png' %}" height="15" width="15" align="right"/> -->
        <input type="text" name="description" id="todoapp_id" value="{{ all_item.description }}"/>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>
